<!DOCTYPE html>
<html>
<head>
    <title>
        萨驰-智能制造平台 4.0
    </title>
    <meta charset="utf-8">
    <meta name="keywords" content="萨驰-智能制造平台 4.0" />

    
    <link href="http://fonts.useso.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/isotope.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/wizard.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/select2.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/morris.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/datepicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/timepicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/daterange-picker.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/pygments.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
    <link href="~/stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
    <link href="~/stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
    <link href="~/stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
    <link href="~/Content/themes/metro/easyui.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" />
    @*<link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/color.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.min.js"></script>
     
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/plugins/datagrid-filter.js"></script>
    <script src="~/Scripts/plugins/jquery.edatagrid.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/javascripts/raphael.min.js" type="text/javascript"></script>
    <script src="~/javascripts/selectivizr-min.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="~/javascripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/javascripts/gcal.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/javascripts/datatable-editable.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="~/javascripts/excanvas.min.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/javascripts/isotope_extras.js" type="text/javascript"></script>
    <script src="~/javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/javascripts/select2.js" type="text/javascript"></script>
    <script src="~/javascripts/styleswitcher.js" type="text/javascript"></script>
    <script src="~/javascripts/wysiwyg.js" type="text/javascript"></script>
    <script src="~/javascripts/summernote.min.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="~/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="~/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="~/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/javascripts/typeahead.js" type="text/javascript"></script>
    <script src="~/javascripts/daterange-picker.js" type="text/javascript"></script>
    <script src="~/javascripts/date.js" type="text/javascript"></script>
    <script src="~/javascripts/morris.min.js" type="text/javascript"></script>
    <script src="~/javascripts/skycons.js" type="text/javascript"></script>
    <script src="~/javascripts/fitvids.js" type="text/javascript"></script>
    <script src="~/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
    @*<script src="~/javascripts/main.js" type="text/javascript"></script>*@
    <script src="~/javascripts/respond.js" type="text/javascript"></script>


    
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>
</head>
<body>
    <div class="modal-shiftfix">
        <!-- Navigation -->
        <div class="navbar navbar-fixed-top scroll-hide">
            <div class="container-fluid top-bar">
                <div class="pull-right">
                    @Html.Partial("_LoginPartial")
                    
                </div>
                <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="#">萨驰-智能制造平台</a>
                <form class="navbar-form form-inline col-lg-2 hidden-xs">
                    <input class="form-control" placeholder="搜索" type="text">
                </form>
            </div>
            <div class="container-fluid main-nav clearfix">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="index.html"><span aria-hidden="true" class="se7en-home"></span>首页</a>
                        </li>
                      
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-star"></span>基础数据<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/ProjectTypes">项目类型维护</a>
                                </li>
                                <li>
                                    <a href="/ProjectNodes">项目节点维护</a>
                                </li>
                                <li>
                                    <a href="/SKUs">SKU维护</a>
                                </li>
                                <li>
                                    <a href="/BOMComponents">BOM维护</a>
                                </li>
                                <li>
                                    <a href="/Customers">客户信息维护</a>
                                </li>
                                <li>
                                    <a href="/Multicomponents">部套信息维护</a>
                                </li>
                                <li>
                                    <a href="/Stations">工位维护</a>
                                </li>
                                <li>
                                    <a href="/ProcessSteps">工序维护</a>
                                </li>
                                <li>
                                    <a href="/Departments">部门信息维护</a>
                                </li>
                                <li>
                                    <a href="/Employees">生产员工维护（导入）</a>
                                </li>
                                <li>
                                    <a href="#">组别班次维护</a>
                                </li>
                                <li>
                                    <a href="/DefectTypes">检验缺陷类型维护</a>
                                </li>
                                <li>
                                    <a href="/DefectCodes">缺陷代码维护</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-forms"></span>功能模块<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Orders">订单管理</a>

                                </li>

                                <li>
                                    <a href="/OrderAuditPlans">
                                        <span class="notifications label label-warning">新</span>
                                        <p>
                                            主节点计划
                                        </p>
                                    </a>

                                </li>
                                <li>
                                    <a href="/ProductionPlans">订单生产计划</a>
                                </li>
                                <li>
                                    <a href="/PurchasePlans">订单采购计划</a>
                                </li>
                              
                                <li>
                                    <a href="#">生产任务单</a>
                                </li>
                                <li>
                                    <a href="#">生产排程</a>
                                </li>
                                <li>
                                    <a href="#">零件工序作业</a>
                                </li>
                                
                                <li>
                                    <a href="#">质量管理</a>
                                </li>
                                <li>
                                    <a href="#">返修记录管理</a>
                                </li>
                                

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-charts"></span>输出报告<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="form-components.html">
                                        <span class="notifications label label-warning">新</span>
                                        <p>
                                            主节点计划报告
                                        </p>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">部套计划报告</a>
                                </li>
                                <li>
                                    <a href="#">生产排程报告</a>
                                </li>
                                <li>
                                    <a href="#">生产进度报告</a>
                                </li>
                                <li>
                                    <a href="#">质量分析报告</a>
                                </li>
                                

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="icon-windows"></span>系统管理<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                 
                                <li>
                                    <a href="/AccountManage"><i class="icon-user"></i>用户管理</a>
                                </li>

                                <li>
                                    <a href="/Management"><i class="icon-group"></i>授权管理</a>
                                </li>
                                <li>
                                    <a href="/BaseCodes"><i class="icon-code"></i>基础代码管理</a>
                                </li>
                                <li>
                                    <a href="/MenuItems"><i class="icon-sitemap"></i>菜单管理管理</a>
                                </li>
                                <li>
                                    <a href="/RoleMenus"><i class="icon-puzzle-piece"></i>权限管理</a>
                                </li>
                                <li>
                                    <a href="/Messages"><i class="icon-puzzle-piece"></i>通知消息管理</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="container-fluid main-content">
            <div class="page-title">
                <h1>
                    @ViewBag.Title
                </h1>
            </div>
            <div class="row animated slideInRight">
                <div class="col-lg-12">
                    <div id="mainbody" class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="icon-table"></i>@ViewBag.Title
                        </div>
                        <div class="widget-content padded clearfix">

                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
                            <!-- end DataTables Example -->
                        </div>
                    </div>
                    @RenderSection("scripts", required: false)
    
</body>
</html>