 


@model SAFERUN.IMS.Web.Models.ScheduleDetail


 

<div class="form-horizontal">

    <div class="row">
	@Html.Hidden("Id",-1)
	<div class="col-lg-6 col-md-6 col-sm-6">
   	
	        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleNo,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ScheduleNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ScheduleNo,"" , new { @class = "text-danger" })
            </div>
        </div>
				
			<div class="form-group">
            @Html.LabelFor(model => model.ParentSKUId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.ParentSKUId, ViewBag.ParentSKUId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.ParentSKUId,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.GraphSKU,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.GraphSKU, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GraphSKU,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ConsumeQty,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ConsumeQty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConsumeQty,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.RequirementQty,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.RequirementQty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RequirementQty,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ActualProductionQty,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ActualProductionQty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualProductionQty,"" , new { @class = "text-danger" })
            </div>
        </div>
				
			<div class="form-group">
            @Html.LabelFor(model => model.ShiftId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.ShiftId, ViewBag.ShiftId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.ShiftId,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.AltProdctionDate1,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AltProdctionDate1, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AltProdctionDate1,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.AltProdctionDate2,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AltProdctionDate2, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AltProdctionDate2,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.AltProdctionDate3,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AltProdctionDate3, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AltProdctionDate3,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.AltConsumeTime,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.AltConsumeTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AltConsumeTime,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Remark1,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Remark1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark1,"" , new { @class = "text-danger" })
            </div>
        </div>
				
			<div class="form-group">
            @Html.LabelFor(model => model.ProductionScheduleId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.ProductionScheduleId, ViewBag.ProductionScheduleId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.ProductionScheduleId,"" , new { @class = "text-danger" })
            </div>
        </div>
			
         </div>
		@Html.Hidden("Id",-1)
	<div class="col-lg-6 col-md-6 col-sm-6">
   		
	        <div class="form-group">
            @Html.LabelFor(model => model.WorkNo,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.WorkNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WorkNo,"" , new { @class = "text-danger" })
            </div>
        </div>
				
			<div class="form-group">
            @Html.LabelFor(model => model.ComponentSKUId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.ComponentSKUId, ViewBag.ComponentSKUId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.ComponentSKUId,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.GraphVer,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.GraphVer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GraphVer,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.StockQty,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.StockQty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StockQty,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleProductionQty,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ScheduleProductionQty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ScheduleProductionQty,"" , new { @class = "text-danger" })
            </div>
        </div>
				
			<div class="form-group">
            @Html.LabelFor(model => model.StationId,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                @Html.DropDownListFor(model => model.StationId, ViewBag.StationId as List<SelectListItem>,"---Select---", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.StationId,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Operator,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Operator, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Operator,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ActualProdctionDate1,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ActualProdctionDate1, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualProdctionDate1,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ActualProdctionDate2,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ActualProdctionDate2, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualProdctionDate2,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ActualProdctionDate3,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ActualProdctionDate3, "Date" ,new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualProdctionDate3,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.ActualConsumeTime,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.ActualConsumeTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActualConsumeTime,"" , new { @class = "text-danger" })
            </div>
        </div>
				
	        <div class="form-group">
            @Html.LabelFor(model => model.Remark2,   htmlAttributes: new { @class = "control-label  col-md-4 col-sm-4" })
            <div class=" col-md-8 col-sm-8">
                                @Html.EditorFor(model => model.Remark2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark2,"" , new { @class = "text-danger" })
            </div>
        </div>
				
         </div>
	    
	
	</div>


		<!-- output all Scaffold = false Hiden field -->
					@Html.HiddenFor(model => model.BomComponentId)
					@Html.HiddenFor(model => model.ParentBomComponentId)
					@Html.HiddenFor(model => model.OrderKey)
					@Html.HiddenFor(model => model.CreatedUserId)
					@Html.HiddenFor(model => model.CreatedDateTime)
					@Html.HiddenFor(model => model.LastEditUserId)
					@Html.HiddenFor(model => model.LastEditDateTime)
				<!-- end output all Scaffold = false Hiden field -->
</div>


